<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>See your post you lousy blogger</title>
  </head>
  <body>
    <h1>Your blog sucks. I read it.</h1>
    <h2><%= @post.name %></h2>
    <p><%= @post.content %></p>
  </body>
</html>
