<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>POST DELETED</title>
  </head>
  <body>
    <p>You did the right thing.</p>
    <p><%= @post.name %> was deleted</p>
  </body>
</html>
